body {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 90vw;
  min-height: calc(100vh - 100px);
  max-width: 900px;
}

hr {
  width: 80%;
  margin: 20px auto;
  border: 2px solid green;
}

section {
  width: 85%;
  margin: 0 auto;
  padding: 15px 0;
}

img {
  max-height: 300px;
}
